<div class="text-center items-center">
  <a href="<%= tasks_path %>" class="bg-blue-500 text-white px-6 py-3 rounded-full text-lg font-semibold hover:bg-blue-600 transition duration-300">
    Tasks
  </a>
</div>
